{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="card col-md-5 col-sm-12 p-5 m-3 text-center">

        </div>
        {% include 'includes/order_list.html' %}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 p-5 m-3 text-center">
            <a href="{% url 'orders' %}" class="btn btn-secondary col-sm-12 col-md-5  m-2 p-4">Back</a>
            <a href="{% url 'orders' %}" class="btn btn-secondary col-sm-12 col-md-5 m-2 p-4">Next</a>
        </div>
    </div>
</div>
{% endblock content %}