{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-4 m-3 bg-light text-center">
                <h2>Order Number</h2>
                <h1>#00</h1>
                <hr>
                <h2>Your order:</h2>
                <h4>{{ order }}</h4>
                <hr>
                <p>Please pay at counter</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 p-5 m-3 text-center">
            <a href="{% url 'home' %}" class="btn btn-info col-sm-12 col-md-5 m-2 p-4">Next Customer</a>
        </div>
    </div>
</div>
<script src="{% static 'orders/js/cart.js' %}"></script>
{% endblock %}