{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="text-center">
        <h2>Product Management</h2>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 p-5 m-3">
            <div class="text-center">
                <h5 class="text-muted">Add Burger</h5>
            </div>
            <div>
                {% if submitted %}
                    {<h2>Burger was submitted successlly</h2>}
                {% else %}
                    <form action="" method="POST" class="form m-2">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="text-center">
                            <a href="{% url 'product_management' %}" class="btn btn-info p-2 m-2">Cancel</a>
                            <input class="btn btn-info p-2 m-2" type="submit" value="Submit">
                        </div>
                        
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}