{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="card col-md-7 col-sm-12 p-5 m-3 text-center">
            <h2>Select Drink</h2>
            <div class="row">
                {% for drink in drinks %}
                <div class="col-md-6 p-3">
                    <img class="image m-5" src="{{ drink.image }}" alt="drink">
                    <div class="justify-content-center">
                        <h4 id="name{{drink.id}}">{{ drink.name }}</h4>
                        <h4 id="price{{drink.id}}">{{ drink.price }}</h4>
                        <button class="btn btn-warning m-5" onclick="addItem('{{ drink.id }}')">Select</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include 'includes/order_list.html' %}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 p-5 m-3 text-center">
            <a href="{% url 'sides' %}" class="btn btn-secondary col-sm-12 col-md-5  m-2 p-4">Back</a>
            <a href="{% url 'orders' %}" class="btn btn-secondary col-sm-12 col-md-5 m-2 p-4">Next</a>
        </div>
    </div>
</div>
{% endblock %}